
@{
    ViewData["Title"] = "Index";
}

<a class="btn btn-info " asp-area="" asp-controller="Products" asp-action="Index">Products</a>
<a class="btn btn-info " asp-area="" asp-controller="Users" asp-action="Users">Users</a>


