<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MsPos</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="toastr.css" rel="stylesheet"/>
    <link rel="stylesheet" href="~/css/bootswatchtheme.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MsPos.styles.css" asp-append-version="true" />
</head>
<body>
    <header><nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">MsPos</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor03">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
            <a class="nav-link " asp-area="" asp-controller="Home" asp-action="Index">Home</a>
          
        </li>
        <li class="nav-item">
          <a class="nav-link" asp-area="" asp-controller="POS" asp-action="Index">POS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" asp-area="" asp-controller="PurchaseStock" asp-action="Index">PurchaseStock</a>
        </li>
       
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Reports</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Daily Sale Report</a>
            <a class="dropdown-item" href="#">Daily Purchase Report</a>
            <a class="dropdown-item" href="#">Daily Profit Report</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Separated link</a>
          </div>
        </li> <li class="nav-item">
          <a class="nav-link"asp-area="" asp-controller="Users" asp-action="Users">Management</a>
        </li>
      </ul>
    @*  <form class="d-flex">
        <input class="form-control me-sm-2" type="text" placeholder="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form>*@
      <button type="button" class="btn btn-outline-danger"asp-area="" asp-controller="Users" asp-action="Logout" >Logout</button>
    </div>
  </div>
</nav>
      
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <partial name="_Notification" />
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - MsPos - 
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="toastr.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
